@model PaginationVm<Employee>
@{
    int count = (Model.CurrentPage - 1) * 5;
}
<div class="card">
    <div class="card-body">
        <h4 class="card-title">Employee</h4>
        <a asp-action="create" asp-controller="employee" class="btn btn-success">Create</a>

        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            No
                        </th>
                        <th>
                            Image
                        </th>
                        <th>
                            FullName
                        </th>
                        <th>
                            Position
                        </th>
                        <th>
                            Settings
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Items)
                    {
                        count++;

                        <tr>
                            <td>
                                @count;
                            </td>
                            <td class="py-1">
                                <img src="~/assets/img/team/@item.ImageUrl" alt="image" />
                            </td>
                            <td>
                                @item.Name @item.Surname
                            </td>
                            <td>
                                @item.Position.Name
                            </td>
                            <td>
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <a asp-action="delete" asp-controller="employee" asp-route-id="@item.Id" class="btn btn-outline-danger">
                                        <i class="mdi mdi-delete"></i>
                                    </a>
                                    <a asp-action="update" asp-controller="employee" asp-route-id="@item.Id" class="btn btn-outline-danger">
                                        <i class="mdi mdi-pencil"></i>
                                    </a>
                                    <a asp-action="detail" asp-controller="employee" asp-route-id="@item.Id" class="btn btn-outline-danger">
                                        <i class="mdi mdi-open-in-new"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            @if (Model.Items.Count > 0)
            {
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item @(Model.CurrentPage==1 ? "disabled":"")"><a class="page-link" asp-action="index" asp-controller="employee" asp-route-page="@Model.CurrentPage-1">Previous</a></li>
                        @for (int i = 1; i <=Model.TotalPage; i++)
                        {
                            <li class="page-item @(Model.CurrentPage==i ? "disabled":"")"><a class="page-link" asp-action="index" asp-controller="employee" asp-route-page="@i">@i</a></li>

                        }
                        <li class="page-item @(Model.CurrentPage==Model.TotalPage ? "disabled":"")"><a class="page-link" asp-action="index" asp-controller="employee" asp-route-page="@Model.CurrentPage+1">Next</a></li>
                    </ul>
                </nav>
            }
        </div>
    </div>
</div>